.login {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: black;
}

.login > img {
  width: 40%;
  padding-top: 50px;
}

.login > a {
  padding: 20px;
  border-radius: 99px;
  background-color: #1db954;
  color: white;
  font-weight: 800;
  text-decoration: none;
}

